/*
css mapped to theme panel in Experience Builder via --dxp Styling Hooks listed below
 - Brand Color: Theme | Colors | Basic | Brand Color: var(--dxp-g-brand)  
 - Link Color: Theme | Colors | Advanced | Links | Link Color: var(--dxp-s-link-text-color)
 */

 .search-box .slds-nubbin_top-right{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.search-box.showSearchBox .slds-nubbin_top-right{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
}

.search-box{
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: var(--dxp-s-link-text-color);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}