*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Poppins', sans-serif;*/
}


body{
  min-height: 100vh;
}

.home{
  padding-right: 5px;
  font-size: var(--dxp-s-html-font-size);
  /*font-family: var(--dxp-s-body-font-family);*/
  /*color: var(--dxp-g-root-contrast);*/
}

.home-anchor{
  font-size: var(--dxp-s-html-font-size);
  text-decoration: none;
  color: initial !important;
}

 

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  /*background: #3E8DA8;*/
  background: var(--dxp-g-root);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  /*color: #fff;*/
  color: var(--dxp-g-root-contrast);
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  /*color: #fff;*/
  color: var(--dxp-g-root-contrast);
  /*font-size: 15px;*/
  font-size: var(--dxp-s-html-font-size);
  font-weight: 500;
}

nav .navbar .links li .arrow{
  /* background: red; */
  /*font-size: 15px;*/
  font-size: var(--dxp-s-html-font-size);
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  /*color: #fff;*/
  color: var(--dxp-g-root-contrast);
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  /*background: #3E8DA8;*/
  background: var(--dxp-g-root);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

.showSubMenu{
  display:block !important;
}

.transformArrow{
  transform: rotate(180deg) !important;
}

.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  /*color: #fff;*/
  color: var(--dxp-g-root-contrast);
  /*font-size: 15px;*/
  font-size: var(--dxp-s-html-font-size);
  font-weight: 500;
}

.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  /*font-size: 22px;*/
  font-size: var(--dxp-s-html-font-size);
  /*color: #fff;*/
  color: var(--dxp-g-root-contrast);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media screen and (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    /*font-size: 15px;*/
    font-size: var(--dxp-s-html-font-size);
  }
}
@media screen and (max-width:800px){
    /*   nav{
position: relative; 
  }*/
  
  .navbar .bx-menu{
    display: block;
  }
  
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    /*background: #3E8DA8;*/
    background: var(--dxp-g-root);/*brand*/
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sidebar-logo .logo-name{
    font-size: 25px;
    /*color: #fff;*/
    color: var(--dxp-g-root-contrast);
  }
  
  .sidebar-logo  i,
    .navbar .bx-menu{
    /*font-size: 25px;*/
    font-size: var(--dxp-s-text-heading-medium-font-size);
    /*color: #fff;*/
    color: var(--dxp-g-root-contrast);
    }
  
    nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
  
  nav .navbar .links li{
    display: block;
  }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  }
}

@media screen and (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
  } 
}